# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# OS files
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Project outputs and caches
output/
static/
temp_audio/
soundfonts/

# Logs
*.log

# Environment files
.env
.env.*

